.list-music {
  width: 100%;

  li {
    width: 48%;
    border-top: 1px solid rgba($p-gray,0.2);
    padding: 1rem 0;
    margin-right: 1rem;

    .show-number-listener {
      color: rgba($p-gray, 0.6);

      i {
        font-size: 0.8rem;
        margin-right: 0.5rem;
      }
    }

    &:hover {
      .show-number-listener {
        display: none;
      }
      .action-play {
        display: block !important;

        i {
          margin: 0 0.3rem !important;
          font-size: 1.2rem !important;
          @include description()
        }
      }
    }
  }


  &__img {
    width: 6rem;
    padding-right: 1rem;

    img {
      width: 100%;
    }
  }
  .description {
    @include description();
  }
}