.box-left {
  width: 66%;

  .list-album {
    justify-content: space-between;
    width: 100%;
    margin: 60px 0;

    &__title {
      @include title();
      margin-bottom: 10px;
    }

    &__image {
      width: 150px;
      height: 150px;
      margin: 0 10px 65px;

      img {
        height: 100%;
        width: auto;
      }
      .description {
        width: 100%;
        margin: 20px 0;
        font-size: $f-size15;
      }
    }
  }
  :first-child {
    margin-left: 0;
  }
  :last-child {
    margin-right:0;
  }
}
