.box-right {
  .title {
    color: $white;
    text-transform: uppercase;
    font-size: $f-size17;
    font-weight: $fw600;
    margin-bottom: 1.2rem;
  }

  &-suggest {
    background-image: url("https://stc-id.nixcdn.com/v11/images/bg_web.png");
    height: 15rem;
    background-repeat: no-repeat;
    border-radius: 0.5rem;

    .btn-listen {
      padding: 1rem 2rem;
      border: none;
      border-radius: 2rem;
      color: $blue;
      margin-top: 1rem;
      background-color: $white;

      i {
        padding-right: 0.75rem;
      }

      &:hover {
        @include hoverTransition($p-gray, $backgroundColor: rgba($white, 0.6))
      }
    }

  }
}