.top-mv {

  .first-img {
    width: 100%;
    position: relative;

    img {
      height: 100%;
    }
  }

  .special-0 {
    bottom: 0 !important;
  }
  .index {
    position: absolute;
    bottom: 10;
    color: $white;
  }


}
