body {
  font-family: $roboto;
  line-height: 1;
}

.container {}

.bg-gray {
  background-color: $bg-gray;
}

.color-gray {
  color: $gray;
}

a:link,
a:visited {
  color: $black;
}

a:focus,
:focus {
  outline: 1px dotted $black;
}

a:active,
input:active,
select:active,
textarea:active {
  outline: none;
}