body {
  font-family: $roboto;
  line-height: 1;
  background-color: $gray-light;
}


.bg-gray {
  background-color: $bg-gray;
}


.color-gray {
  color: $gray-light;
}

a:link,
a:visited {
  color: $black;
}

a:focus,
:focus {
  outline: 1px dotted $black;
}

a:active,
input:active,
select:active,
textarea:active {
  outline: none;
}