$yellow: #f5bd10;
$gray: #898989;
$p-gray: #636363;
$bg-gray: #f7f7f7;
$white: #fff;
$black: #000;
$red: #ff0000;
$transition: all 0.3s linear;
$site-width: 1140px;
$roboto: "Roboto", Sans-serif;
$arial: Arial, Helvetica, sans-serif;
$z-index: 1000;
