// color
$yellow: #f5bd10;
$gray-light: #F5F5F5;
$p-gray: #636363;
$bg-gray: #f7f7f7;
$white: #fff;
$black: #000;
$blue: #71C5F3;
$green: green;
$orange: orange;
$red: #ff0000;

// size
$site-width: 1280px;

$transition: all 0.3s linear;

// padding
$pd-smaller: 0.5rem;
$pd-small: 1rem;
$pd-medium: 2rem;
$pd-large: 3rem;

// margin
$mg-small: 1rem;
$mg-medium: 2rem;
$mg-large: 3rem;

// z-index
$z-negative: -1;
$z-elevate: 1;
$z-sticky: 100;
$z-drawer: 200;
$z-dropdown: 400;
$z-modal: 500;

// font family
$ff-inter: 'Inter',sans-serif;


//font-weight
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 800;

//font-size
$fs-light: 13px;
$fs-base: 15px;
$fs-sizable: 17px;
$fs-large: 27px;