$yellow: #f5bd10;
$gray-light: #F5F5F5;
$p-gray: #636363;
$bg-gray: #f7f7f7;
$white: #fff;
$black: #000;
$blue: #71C5F3;
$red: #ff0000;
$transition: all 0.3s linear;
$site-width: 1140px;

$carousel-transition-duration: 0.3s;

$z-index1: 1000;
$z-index2: 1001;
$z-index3: 1002;


$font-inter: 'Inter',sans-serif;

$fw100: 100;
$fw200: 200;
$fw400: 400;
$fw500: 500;
$fw600: 600;
$fw700: 700;
$fw800: 800;

$f-size13: 13px;
$f-size15: 15px;
$f-size17: 17px;
$f-size21: 21px;
$f-size27: 27px;