-
 var banner = [
   {
     urlImage : "https://avatar-ex-swe.nixcdn.com/slideshow/2022/04/27/d/b/b/7/1651029976814_org.jpg"
   },
   {
     urlImage : "https://avatar-ex-swe.nixcdn.com/slideshow/2022/04/27/d/b/b/7/1651054568300_org.jpg"
   },
   {
     urlImage : "https://avatar-ex-swe.nixcdn.com/slideshow/2022/04/25/2/b/f/f/1650868079729_org.jpg"
   },
   {
     urlImage : "https://avatar-ex-swe.nixcdn.com/slideshow/2022/04/25/2/b/f/f/1650876954098_org.jpg"
   },
   {
     urlImage : "https://avatar-ex-swe.nixcdn.com/slideshow/2022/04/26/5/5/5/3/1650956055100_org.jpg"
   }
   ,
   {
     urlImage : "https://avatar-ex-swe.nixcdn.com/slideshow/2022/04/21/7/c/3/5/1650513030786_org.jpg"
   }
 ]