-
  var vietnam = [
        {
          id : 1,
          title: "Yêu Đương Khó Quá Thì Chạy Về Khóc Với Anh",
          singer: "ERIK",
        },
        {
          id : 2,
          title: "Đế Vương",
          singer: "Đình Dũng, ACV",
        },
        {
          id : 3,
          title: "Chạy Về Nơi Phía Anh",
          singer: "Khắc Việt",
        },
        {
          id : 4,
          title: "Hoa Tàn Tình Tan",
          singer: "Giang Jolee",
        },
        {
          id : 5,
          title: "có hẹn với thanh xuân",
          singer: "MONSTAR",
        },
      ]
-
  var US = [
      {
        id : 1,
        title: "Stay",
        singer:"The Kid LAROI, Justin Bieber",
      },
      {
        id : 2,
        title: "Double Take",
        singer:"Dhruv",
      },
      {
        id : 3,
        title: "abcdefu",
        singer:"GAYLE",
      },
      {
        id : 4,
        title: "Head In The Clouds",
        singer:"Hayd",
      },
      {
        id : 5,
        title: "Light Switch",
        singer:"Charlie Puth",
      }
  ]
-
  var korea = [
      {
        id : 1,
        title: "Still Life",
        singer:"BIGBANG",
      },
      {
        id : 2,
        title: "Tomboy",
        singer:"(G)I-DLE",
      },
      {
        id : 3,
        title: "DARARI",
        singer:"TREASURE",
      },
      {
        id : 4,
        title: "Money",
        singer:"LISA",
      },
      {
        id : 5,
        title: "O.O",
        singer:"NMIXX",
      }
  ]