-
  var cooperationData = [
    {
      imgBackgroundUrl: "https://stc-id.nixcdn.com/v11/images/footer/3.png"
    },
    {
      imgBackgroundUrl: "https://stc-id.nixcdn.com/v11/images/footer/5.png"
    },
    {
      imgBackgroundUrl: "https://stc-id.nixcdn.com/v11/images/footer/8.png"
    },
    {
      imgBackgroundUrl: "https://stc-id.nixcdn.com/v11/images/footer/10.png"
    },
    {
      imgBackgroundUrl: "https://stc-id.nixcdn.com/v11/images/footer/11.png"
    },
    {
      imgBackgroundUrl: "https://stc-id.nixcdn.com/v11/images/footer/12.png"
    },
    {
      imgBackgroundUrl: "https://stc-id.nixcdn.com/v11/images/footer/13.png"
    }
  ]

-
  var support = [
    {
      title: "Trợ giúp",
    },
    {
      title: "Chính sách bảo mật",
    },
    {
      title: "Sơ đồ",
    },
    {
      title: "Chính sách SHTT",
    },
    {
      title: "NCCI",
    },
    {
      title: "Thỏa thuận sử dụng",
    },
    {
      title: "Liên hệ quảng cáo",
    }
  ]

-
  var anotherProduct = [
    {
      title: "Mobile App",
    },
    {
      title: "Dịch vụ 3G",
    },
    {
      title: "Mobile Web",
    },
    {
      title: "NCT Corp",
    },
    {
      title: "Smart TV",
    },
    {
      title: "Tuyển dụng",
    },
    {
      title: "Desktop",
    }
  ]

-
  var socialNetwork = [
    {
      href: "https://stc-id.nixcdn.com/v11/images/footer/t_ic_facebook.png",
    },
    {
      href: "https://stc-id.nixcdn.com/v11/images/footer/t_ic_instagram.png",
    },
    {
      href: "https://stc-id.nixcdn.com/v11/images/footer/t_ic_tiktok.png",
    },
    {
      href: "https://stc-id.nixcdn.com/v11/images/footer/t_ic_zalo.png",
    }
  ]

