-
  var listLinkNavbar = [
    {
      title: "phienbanmoi",
    },
    {
      title: "Bài hát",
    },
    {
      title: "Playlist"
    },
    {
      title: "Tuyển tập"
    },
    {
      title: "Video"
    },
    {
      title: "BXH"
    },
    {
      title: "Chủ Đề"
    }
  ]