- var
  listAlbum1 = [
    {
      urlImage: "./assets/images/album/album1/1.jpeg",
      title: "Nhac Trẻ Gây Nghiện",
    },{
      urlImage: "./assets/images/album/album1/1.jpeg",
      title: "V-Pop Nhạc Mới Mỗi Ngày",
    },
    {
      urlImage: "./assets/images/album/album1/1.jpeg",
      title: "V-Pop Girl Power",
    },
    {
      urlImage: "./assets/images/album/album1/1.jpeg",
      title: "Người Chơi Hệ V-POP",
    },
    {
      urlImage: "./assets/images/album/album1/1.jpeg",
      title: "V-Pop Hit Mới Đây Rồi",
    }
  ]

- var
  listAlbum2 = [
    {
      urlImage: "./assets/images/album/album2/1.jpeg",
      title: "Nhạc Việt Hôm Nay Nghe Gì?",
    },{
      urlImage: "./assets/images/album/album2/2.jpeg",
      title: "K-POP Hay Nhất 2022",
    },
    {
      urlImage: "./assets/images/album/album2/3.jpeg",
      title: "Favorite Pop Songs",
    },
    {
      urlImage: "./assets/images/album/album2/4.jpeg",
      title: "Rising Hits: V-Pop",
    },
    {
      urlImage: "./assets/images/album/album2/5.jpeg",
      title: "V-Pop Combo Hits",
    }
  ]

- var
  listAlbum3 = [
    {
      urlImage: "./assets/images/album/album3/11.jpeg",
      title: "Country Ladies: Beautiful Female Country Voices",
    },{
      urlImage: "./assets/images/album/album3/12.jpeg",
      title: "Wedding Day Country",
    },
    {
      urlImage: "./assets/images/album/album3/13.jpeg",
      title: "Countryside",
    },
    {
      urlImage: "./assets/images/album/album3/14.jpeg",
      title: "Women Of Country",
    },
    {
      urlImage: "./assets/images/album/album3/15.jpeg",
      title: "Best Of Georgia",
    }
  ]

- var
  listAlbum4 = [
    {
      urlImage: "./assets/images/album/album4/001.jpeg",
      title: "Anh Lo Cho Em Hết",
      singerName: "Đàm Vĩnh Hưng, Ricky Star"
    },{
      urlImage: "./assets/images/album/album4/002.jpeg",
      title: "Từng Thương",
      singerName: "Phan Duy Anh, ACV"
    },
    {
      urlImage: "./assets/images/album/album4/003.jpeg",
      title: "Mùa Đông Cô Đơn",
      singerName: "Sean, Công Phúc"
    },
    {
      urlImage: "./assets/images/album/album4/004.jpeg",
      title: "Sao Tiếc Người Không Tốt",
      singerName: "Vương Anh Tú"
    },
    {
      urlImage: "./assets/images/album/album4/005.jpeg",
      title: "Như Là Tia Nắng",
      singerName: "DuongG, kpnn"
    },
    {
      urlImage: "./assets/images/album/album4/006.jpeg",
      title: "SERIES 'O' [ROUND 3 : WHOLE]",
      singerName: "VERIVERY"
    }
    ,
    {
      urlImage: "./assets/images/album/album4/007.jpeg",
      title: "Earth: Taurus' Songs",
      singerName: "Birdy"
    }
    ,
    {
      urlImage: "./assets/images/album/album4/008.jpeg",
      title: "Jinsei / ジンセイ (EP)",
      singerName: "The Bargains"
    }
    ,
    {
      urlImage: "./assets/images/album/album4/009.jpeg",
      title: "Only Honest On The Weekend (Deluxe)",
      singerName: "Becky Hill"
    }
    ,
    {
      urlImage: "./assets/images/album/album4/010.jpeg",
      title: "GABRIEL",
      singerName: "Keshi"
    }
  ]

