-
  var listAlbum1 = [
    {
      urlImage: "./assets/images/album/album1/1.jpeg",
      description: "Nhac Trẻ Gây Nghiện",
    },{
      urlImage: "./assets/images/album/album1/2.jpeg",
      description: "V-Pop Nhạc Mới Mỗi Ngày",
    },
    {
      urlImage: "./assets/images/album/album1/3.jpeg",
      description: "V-Pop Girl Power",
    },
    {
      urlImage: "./assets/images/album/album1/4.jpeg",
      description: "Người Chơi Hệ V-POP",
    },
    {
      urlImage: "./assets/images/album/album1/5.jpeg",
      description: "V-Pop Hit Mới Đây Rồi",
    }
  ]

-
  var listAlbum2 = [
    {
      urlImage: "./assets/images/album/album2/1.jpeg",
      description: "Nhạc Việt Hôm Nay Nghe Gì?",
    },{
      urlImage: "./assets/images/album/album2/2.jpeg",
      description: "K-POP Hay Nhất 2022",
    },
    {
      urlImage: "./assets/images/album/album2/3.jpg",
      description: "Favorite Pop Songs",
    },
    {
      urlImage: "./assets/images/album/album2/4.jpg",
      description: "Rising Hits: V-Pop",
    },
    {
      urlImage: "./assets/images/album/album2/5.jpg",
      description: "V-Pop Combo Hits",
    }
  ]

-
  var listAlbum3 = [
    {
      urlImage: "./assets/images/album/album3/11.jpg",
      description: "Country Ladies: Beautiful Female Country Voices",
    },{
      urlImage: "./assets/images/album/album3/12.jpg",
      description: "Wedding Day Country",
    },
    {
      urlImage: "./assets/images/album/album3/13.jpg",
      description: "Countryside",
    },
    {
      urlImage: "./assets/images/album/album3/14.jpg",
      description: "Women Of Country",
    },
    {
      urlImage: "./assets/images/album/album3/15.jpg",
      description: "Best Of Georgia",
    }
  ]

-
  var listAlbum4 = [
    {
      urlImage: "./assets/images/album/album4/001.jpg",
      description: "Anh Lo Cho Em Hết",
      singerName: "Đàm Vĩnh Hưng, Ricky Star"
    },{
      urlImage: "./assets/images/album/album4/002.jpg",
      description: "Từng Thương",
      singerName: "Phan Duy Anh, ACV"
    },
    {
      urlImage: "./assets/images/album/album4/003.jpg",
      description: "Mùa Đông Cô Đơn",
      singerName: "Sean, Công Phúc"
    },
    {
      urlImage: "./assets/images/album/album4/004.jpg",
      description: "Sao Tiếc Người Không Tốt",
      singerName: "Vương Anh Tú"
    },
    {
      urlImage: "./assets/images/album/album4/005.jpg",
      description: "Như Là Tia Nắng",
      singerName: "DuongG, kpnn"
    },
    {
      urlImage: "./assets/images/album/album4/006.jpg",
      description: "SERIES 'O' [ROUND 3 : WHOLE]",
      singerName: "VERIVERY"
    }
    ,
    {
      urlImage: "./assets/images/album/album4/007.jpg",
      description: "Earth: Taurus' Songs",
      singerName: "Birdy"
    }
    ,
    {
      urlImage: "./assets/images/album/album4/008.jpg",
      description: "Jinsei / ジンセイ (EP)",
      singerName: "The Bargains"
    }
    ,
    {
      urlImage: "./assets/images/album/album4/009.jpg",
      description: "Only Honest On The Weekend (Deluxe)",
      singerName: "Becky Hill"
    }
    ,
    {
      urlImage: "./assets/images/album/album4/010.jpg",
      description: "GABRIEL",
      singerName: "Keshi"
    }
  ]

