-
  var songList = [
    {
        title: "Mập Mờ (Lofi Version)",
        name: "Phí Phương Anh, RIN9",
        href: "https://avatar-ex-swe.nixcdn.com/song/2022/01/05/2/5/8/1/1641371032879.jpg",
    },
    {
        title: "Ta Lại Bỏ Rơi Nhau ",
        name: "Anh Tú Atus",
        href: "https://avatar-ex-swe.nixcdn.com/song/2022/01/06/3/8/5/b/1641452344659.jpg",
    },
    {
        title: "All 4 Nothing (I'M So In Love)",
        name: "Lauv",
        href: "https://avatar-ex-swe.nixcdn.com/song/2022/03/11/1/a/0/3/1647002269258.jpg",
    },
    {
        title: "Provenza",
        name: "Karol G",
        href: "https://avatar-ex-swe.nixcdn.com/song/2022/04/08/8/a/1/f/1649388856984.jpg",
    },
    {
        title: "Honest",
        name: "Justin Bieber, Don Toliver",
        href: "https://avatar-ex-swe.nixcdn.com/song/2022/04/28/f/e/9/e/1651116220863.jpg",
    },
    {
        title: "Gold Forever (For Tom) ",
        name: "The Wanted",
        href: "https://avatar-ex-swe.nixcdn.com/song/2022/04/29/e/9/a/5/1651217929049.jpg",
    },
    {
        title: "Midnight Hour",
        name: "Alesso, Liam Payne",
        href: "https://avatar-ex-swe.nixcdn.com/song/2022/04/28/f/e/9/e/1651115707126.jpg",
    },
    {
        title: "Chơi Vơi",
        name: "K-ICM, Trung Quân",
        href: "https://avatar-ex-swe.nixcdn.com/song/2022/04/28/f/e/9/e/1651115938079.jpg",
    }
  ]
