mixin footerMenu(title,data)
  .navigation.my-5
    h2.title= title
    ul.d-flex.flex-wrap
      each item in data
        li.w-50.my-3.text-gray
          i.fa-solid.fa-angle-right.mr-3
          span
            a(href="#!" class="text-gray")
              = item.title