mixin listMusic(title,data)
  h2.main-title= title
    i.fa-solid.fa-angle-right.mx-1
  .list-music
    ul.list-music__item
      each item,index in data
        li.list-music__song
          a(href="#!").d-flex.align-items-center
            .list-music__img
              img(src= `${item.href}`, alt="photo")
            div.list-music__content
              p.title= item.title
              p.description= item.name
          div
            div.show-number-listener
              i.fa-solid.fa-headphones-simple
              span 1234
            div.d-none.action-play
              i.fa-solid.fa-heart-circle-plus
              i.fa-solid.fa-play