mixin listAlbum(title,data)
  h2.main-title= title
  .d-flex.flex-wrap.justify-content-center
    each item in data
      .list-album__image
        a(href="#!")
          img(src= `${item.urlImage}`, alt="photo")
          p.description= item.description