mixin suggestForYou()
  .box-right-suggest.d-flex.justify-content-center.flex-column
    h2.title Gợi ý dành cho bạn
    p.description Thưởng thức những ca khúc phù hợp nhất với bạn
    div
      button.btn-listen
        i.fa-solid.fa-play
        span
          | Nghe bài hát