extend ../base/base.pug
block variables
  - const current="/"
block main
  main
    .container-fluid
      .banner
        +carousel(banner)
      .main-container
        aside.box-left
          section.list-album
            +listAlbum("Trữ tình chọn lọc",listAlbum1)
          section.list-album
            +listAlbum("Trữ tình bất hủ",listAlbum2)
          section.list-album
            +listAlbum("nghe lại lại yêu",listAlbum3)
          section.list-album
            +listAlbum("mới phát hành",listAlbum4)
          section.list-album
            +listMusic("bài hát",songList)
          section.list-album
            +sectionImage("top 100",top100,0)
          section.list-album
            +sectionImage("weekly artist chart",weeklyArtist,50)
        aside.box-right
          +topSong("Bxh bài hát",vietnam)
          +topMv("bxh mv",US)
          +suggestForYou()
          +hotTopics("chủ đề hot",hotTopics)