extend ../base/base.pug
block variables
  - const current="/"
block main
  main
    .container
      .banner
        +carousel(banner)
      .box-left
        section.list-album
          +listAlbum("Trữ tình chọn lọc",listAlbum1)
        section.list-album
          +listAlbum("Trữ tình bất hủ",listAlbum2)
        section.list-album
          +listAlbum("nghe lại lại yêu",listAlbum3)
        section.list-album
          +listAlbum("mới phát hành",listAlbum4)