/* CSS reset */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

input {
  border: 1px solid #b0b0b0;
  padding: 3px 5px 4px;
  color: #979797;
  width: 190px;
}

address, caption, cite, code, dfn, th, var {
  font-style: normal;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before, q:after {
  content: "";
}

abbr, acronym {
  border: 0;
}

body {
  font-family: "Inter", sans-serif !important;
  font-weight: 400;
  line-height: 1;
  background-color: #F5F5F5;
}

.btn {
  outline: none !important;
}

.bg-gray {
  background-color: #f7f7f7;
}

.carousel-item {
  transition: transform 2s ease, opacity 2s ease-out !important;
}

.color-gray {
  color: #F5F5F5;
}

.ml-3 {
  margin-left: 1rem !important;
}

a {
  text-decoration: none;
}

a:hover {
  color: #71C5F3 !important;
}

a:link,
a:visited {
  color: #000;
}

a:focus,
:focus {
  outline: none;
}

a:active,
input:active,
select:active,
textarea:active {
  outline: none;
}

.special-0 {
  background-color: rgba(255, 0, 0, 0.6);
  color: #fff;
  position: absolute;
  bottom: 1rem;
}

.special-1 {
  color: green;
}

.special-2 {
  color: orange;
}

:root {
  font-size: 15px !important;
  background-color: #f7f7f7 !important;
  font-size: 15px;
}

.header {
  width: 100%;
  height: auto;
  margin: 0 auto;
  position: fixed;
  top: 0;
  z-index: 1000;
}
.header__search {
  margin: 0 30px;
  position: relative;
}
.header__search .icon {
  opacity: 0.8;
  position: absolute;
  top: 11px;
  left: 5px;
  outline: none;
}
.header__search input {
  padding: 10px 25px;
  border-radius: 10px;
}
.header__upgrade-icon {
  width: 28px;
  margin-left: 15px;
  cursor: pointer;
}
.header__upgrade-icon img {
  width: 100%;
  height: auto;
}
.header .btn {
  font-size: 13px;
}

.banner {
  margin-top: 75px;
}

.box-left {
  width: 66%;
}
.box-left .list-album {
  justify-content: space-between;
  width: 100%;
  margin: 60px 0;
}
.box-left .list-album__title {
  text-transform: uppercase;
  font-size: 27px;
  font-weight: 100;
  color: #71C5F3;
  margin-bottom: 10px;
  margin-bottom: 10px;
}
.box-left .list-album__image {
  width: 150px;
  height: 150px;
  margin: 0 10px 65px;
}
.box-left .list-album__image img {
  height: 100%;
  width: auto;
}
.box-left .list-album__image .description {
  width: 100%;
  margin: 20px 0;
  font-size: 15px;
}
.box-left :first-child {
  margin-left: 0;
}
.box-left :last-child {
  margin-right: 0;
}

.box-right {
  width: 30%;
  margin: 60px auto;
  text-align: center;
}
.box-right-title {
  text-transform: uppercase;
  font-size: 27px;
  font-weight: 100;
  color: #71C5F3;
  margin-bottom: 10px;
}
.box-right-nav-item {
  width: 33%;
}
.box-right .nation {
  width: 33%;
  margin: 0 -3px;
  padding: 10px 20px;
  border: none;
  background-color: #636363;
}
.box-right .active {
  background-color: rgba(255, 0, 0, 0.5);
  color: #fff;
}
.box-right .list-chart-music {
  min-height: 5rem;
  border-bottom: 1px solid #636363;
  margin: 1rem 0;
  padding-bottom: 1rem;
  position: relative;
}
.box-right .list-chart-music .first-img {
  height: 8rem;
}
.box-right .list-chart-music .first-img .special-0 {
  position: absolute;
  bottom: 1rem;
}
.box-right .list-chart-music .first-img img {
  height: 100%;
}
.box-right .list-chart-music .index {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px;
}
.box-right .list-chart-music-description {
  width: 100%;
  padding-bottom: 5px;
}
.box-right .list-chart-music-singer {
  font-size: 0.75rem;
  color: rgba(99, 99, 99, 0.6);
  padding-top: 5px;
}

.top-mv .first-img {
  width: 100%;
}
.top-mv .first-img img {
  height: 100%;
}
.top-mv .index {
  position: absolute;
  bottom: 0;
}
.top-mv-index {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px;
}

.footer {
  background-color: #F5F5F5;
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
  padding-top: 1000px;
}
.footer__cooperation .title {
  font-size: bold;
  text-transform: uppercase;
  line-height: 1;
}
.footer__cooperation img {
  height: 100%;
  width: auto;
}