.box-left {
    margin: $mg-large 0;
    width: 66%;

  .list-album {
    width: 100%;

    &__image {
      width: 10rem;
      height: 10rem;
      margin: 0 0.4rem 4.3rem;

      img {
        height: 100%;
        width: auto;
      }
    }

    li {
      margin-right: 1rem;

      &:hover {
        background-color: transparent !important;
      }
    }
  }
  :first-child {
    margin-left: 0px;
  }
  :last-child {
    margin-right:0;

  }
}
