.footer {


  .title {
    font-size:$fs-sizable;
    font-weight: $fw-semibold;
    text-transform:uppercase;
    margin: $mg-small 0;
    line-height: 1;
  }

  &__cooperation {
    background-color: rgba($p-gray, 0.1);
    width: 100%;
    text-align: center;
    padding: $pd-small 0;

    img {
      height:100%;
      width: 20%;
    }

    .partner {
      @include flex($align:center);
    }

  }

  &-navigate {
    @include flex();
    border-bottom: 1px solid rgba($p-gray, 0.2);
  }

  &-about-company {
    @include flex($align:center,$direction:row);
    margin: $mg-large 0;
  }

  .navigation {
    width: 33%;

  }

  li {
    background-color: transparent;
    margin-right: 0;
    color: rgba($p-gray, 0.5);

  }

  .copyright {
    font-size: $fs-light;
    background-color: rgba($blue, 0.9);
    padding: 2rem;
    color: $white;

    &__content {
      @include flex($align:center);
    }
  }
}