.header {
  font-size: 13px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  position: fixed;
  top:0;
  z-index: $z-sticky;

  &__search {
    margin: 0 $mg-medium;
    position: relative;


    input {
      padding: $pd-small $pd-large;
      border-radius: 10px;
    }

    .icon {
      opacity: 0.8;
      position: absolute;
      top: 13px;
      left: 8px;
      outline: none;
    }
  }


  &__upload-icon {
    width: 2rem;
    margin-left: $mg-medium;
    cursor: pointer;

    img {
      width: 100%;
      height: auto;
    }
  }

  .btn-login {

    @include flex($gap:1rem, $justify:center);
    margin-left: auto;
    font-size: $fs-light;

    button {
      font-size: $fs-light;
    }
  }
}
